<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>XikTestingTemplate</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:03:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:functionalTests.SeleniumTest@72b6cbcc]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="616362">  <td>17/06/26 09:03:05</td>   <td>3723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.f()[pri:0, instance:functionalTests.SeleniumTest@72b6cbcc]">f</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:03:10</td>   <td>8454</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browsers.CloseDriver()[pri:0, instance:functionalTests.SeleniumTest@72b6cbcc]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:03:10</td>   <td>8804</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:functionalTests.testLogin@6acdbdf5]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="7fdd93">  <td>17/06/26 09:03:19</td>   <td>17480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testLogin.f()[pri:0, instance:functionalTests.testLogin@6acdbdf5]">f</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:03:26</td>   <td>24852</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browsers.CloseDriver()[pri:0, instance:functionalTests.testLogin@6acdbdf5]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:03:27</td>   <td>25265</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:functionalTests.creacionLogos@2d8f65a4]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a8c7ae">  <td>17/06/26 09:03:35</td>   <td>33107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="creacionLogos.f()[pri:0, instance:functionalTests.creacionLogos@2d8f65a4]">f</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:04:12</td>   <td>70849</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browsers.CloseDriver()[pri:0, instance:functionalTests.creacionLogos@2d8f65a4]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:04:13</td>   <td>71326</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:functionalTests.creacionTareas@704a52ec]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="f2b07d">  <td>17/06/26 09:04:21</td>   <td>79990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="creacionTareas.f()[pri:0, instance:functionalTests.creacionTareas@704a52ec]">f</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:06:05</td>   <td>183591</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browsers.CloseDriver()[pri:0, instance:functionalTests.creacionTareas@704a52ec]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:06:05</td>   <td>184030</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:visualTests.SikuliTest@30a3107a]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="bfd8bd">  <td>17/06/26 09:06:13</td>   <td>192072</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SikuliTest.init()[pri:0, instance:visualTests.SikuliTest@30a3107a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="bfd8bd">  <td>17/06/26 09:06:14</td>   <td>192152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SikuliTest.f()[pri:0, instance:visualTests.SikuliTest@30a3107a]">f</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:06:20</td>   <td>198689</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browsers.CloseDriver()[pri:0, instance:visualTests.SikuliTest@30a3107a]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:06:21</td>   <td>199101</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:visualTests.testLogin@78e67e0a]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a3fe6e">  <td>17/06/26 09:06:29</td>   <td>207376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testLogin.f()[pri:0, instance:visualTests.testLogin@78e67e0a]">f</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:06:44</td>   <td>222555</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browsers.CloseDriver()[pri:0, instance:visualTests.testLogin@78e67e0a]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:06:44</td>   <td>222964</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:visualTests.creacionLogos@3dfc5fb8]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="6bdb79">  <td>17/06/26 09:06:54</td>   <td>232101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="creacionLogos.f()[pri:0, instance:visualTests.creacionLogos@3dfc5fb8]">f</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:08:34</td>   <td>332390</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browsers.CloseDriver()[pri:0, instance:visualTests.creacionLogos@3dfc5fb8]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:08:34</td>   <td>332905</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:visualTests.creacionTareas@1a8a8f7c]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="79bbc3">  <td>17/06/26 09:08:43</td>   <td>341375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="creacionTareas.f()[pri:0, instance:visualTests.creacionTareas@1a8a8f7c]">f</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>17/06/26 09:09:23</td>   <td>381986</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browsers.CloseDriver()[pri:0, instance:visualTests.creacionTareas@1a8a8f7c]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
</table>
