<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657fd0">  <td>17/06/26 09:00:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:functionalTests.testLogin@1794d431]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/06/26 09:00:58</td>   <td>8817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testLogin.f()[pri:0, instance:functionalTests.testLogin@1794d431]">f</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>17/06/26 09:01:06</td>   <td>16693</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browsers.CloseDriver()[pri:0, instance:functionalTests.testLogin@1794d431]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
</table>
